.pomodoro-content-holder {
  background-color: var(--site-bg-color);
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60%;
  border-radius: 15px;
}

.pomodoro-content-holder--actions {
}

.pomodoro-content-holder--action-start {
  min-width: 10rem;
  margin: 0rem 2rem 0rem 0rem;
  border: 2px solid var(--dui-primary-color);
}

.pomodoro-content-holder--action-reset {
  min-width: 10rem;
  margin: 0rem 0rem 0rem 2rem;
}

.task-details {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow-wrap: anywhere;
}

.task-details--title {
  margin: 2rem 0rem 1rem 0rem;
}

.task-details--desc {
  margin: 0rem 0rem 1rem 0rem;
}
